input {
  width: 100%;
  height: 8vh;
  padding: 20px;
  font-size: 12px;
  border:2px black solid;
  /* box-sizing: border-box; */
}
.simple-keyboard{
  max-width: 850px;
  width: 75vw;
}
#container{
  border: 2px black solid;
  height: 50vh; 
  width: 65vw;
  margin: 0;
}
#keyboardContainer{
  height: 85vh;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px black solid;
}

#chad{
  width: 20%;
  height: 85vh;
  border: 2px black solid;
  text-align:center;
}

#main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}