input {
  width: 100%;
  height: 8vh;
  padding: 20px;
  font-size: larger;
  border:2px black solid;
  border-radius: 5px;
  /* box-sizing: border-box; */
}
.simple-keyboard{
  max-width: 850px;
  width: 75vw;
}
#container{
  border: 2px black solid;
  height: 60vh; 
  width: 65vw;
  margin: 0;
  background-color: white;
  border-radius: 15px;
}
#keyboardContainer{
  height: 92vh;
  width: 78%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px rgb(176, 150, 150) solid;
  background-color: rgb(244, 238, 238);
  border-radius: 15px;
  justify-content: space-around;
}

#chad{
  display: flex;
  width: 20%;
  height: 92vh;
  /* border: 2px black solid; */
  text-align:center;
  border: 2px rgb(176, 150, 150) solid;
  background-color: rgb(244, 238, 238);
  border-radius: 12px;
  flex-direction: column;
  align-items: stretch;
}

button{
  margin: 5px;
}



#main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}