<!-- <h1>שרטוט גרף</h1> -->

<div id="main">

    <div id="keyboardContainer">
        <!--graph  -->
        <div id="container"></div>

        <!--keyboard  -->

        <div style="text-align:center">
            <!-- <input (input)="onInputChange($event)" class="input" value={{value}}
            placeholder="Tap on the virtual keyboard to start" /> -->
            <div class="simple-keyboard"></div>
        </div>
        <!-- <input class="input" /> -->
        <!-- <div class="simple-keyboard"></div> -->
    </div>

    <div id="chad">
        <input id="func" (input)="onInputChange($event)" class="input" value={{value}} placeholder="enter a function f(x)= x^2" />
        <button class="btn btn-secondary" (click)="send()">send</button>

        <button class="btn btn-secondary" (click)="ShowNigzeret()">הצגת ניגזרת</button>

        

        <button class="btn btn-secondary" (click)="showPoint()">הצגת נקודות</button>
        <p *ngFor="let p of point">({{p.x}},{{p.y}})</p>


    </div>
    

</div>