<!-- <h1>שרטוט גרף</h1> -->

<div id="main">

    <div id="keyboardContainer">
        <!--graph  -->
        <div id="container"></div>

        <!--keyboard  -->
        <!-- document.querySelector("#keyboardContainer > div:nth-child(2) > div > div > div:nth-child(1)") -->

        <div style="text-align:center">
            <!-- <input (input)="onInputChange($event)" class="input" value={{value}}
            placeholder="Tap on the virtual keyboard to start" /> -->
            <div class="simple-keyboard"></div>
        </div>
        <!-- <input class="input" /> -->
        <!-- <div class="simple-keyboard"></div> -->
    </div>

    <div id="chad">
        <div id="chad2">
            <input id="func" name="input"  (input)="onInputChange($event)" class="input" value={{value}}
            placeholder="enter a function f(x)= x^2" />
            <button class="btn btn-secondary" (click)="send()">שליחת הפונקציה</button>
            <button class="btn btn-secondary" (click)="ShowNigzeret()">הצגת ניגזרת</button>
            <button class="btn btn-secondary" (click)="showPoint()">הצגת נקודות</button>
            <div></div>

            <p>נקודות אפס:</p>
            <div id="point" class="card"  >({{(p1.X)}},{{(p1.Y)}})</div>
            <div id="point" class="card"  >({{(p2.X)}},{{(p2.Y)}})</div>
            <p>נקודת חיתוך ציר Y:</p>
            <div id="point" class="card"  >({{(p3.X)}},{{(p3.Y)}})</div>
            <p>נקודת קיצון:</p>
            <div id="point" class="card"  >({{(p4.X)}},{{(p4.Y)}})</div>
            <!-- <div id="point" class="card"  *ngFor="let po of point" >({{(po.X)}},{{(po.Y)}})</div>
            <div id="point" class="card"  *ngFor="let po of point" >({{(po.X)}},{{(po.Y)}})</div> -->
        </div>
        <div>
            <button class="btn btn-secondary" (click)="history()">הצגת היסטוריה</button>
            <div class="card" *ngFor="let h of histiryList" (click)="clickHistory(h.graphString)">* {{h.graphString}}</div>
        </div>
    </div>
</div>