<div id="titel" class="alert alert-warning center" role="alert">
    גאוגברה - כניסה למערכת
</div>

<div id="enter">


    <!-- <button type="button" class="btn btn-secondary">
        <a class="nav-link" [routerLink]="['sign-in']"
        routerLinkActive="router-link-active">Sign In</a>
    </button>
    <button type="button" class="btn btn-secondary">
        <a class="nav-link" [routerLink]="['sign-up']"
        routerLinkActive="router-link-active">Sign Up</a>
    </button> -->


    <button type="button" class="btn btn-light">
        <app-sign-in></app-sign-in>
    </button>

    <button type="button" class="btn btn-light">
        <app-sign-up></app-sign-up>
    </button>
</div>