#titel{
    text-align: center;
    color: dimgray;
    font-size: xx-large;
}

#enter{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
    
}

#signInUp{
    display: flex;
    width: 25%;
    height: 70%;
}

