.ul {
  text-align: center;
  color: black;
}

#nav {
  background-color: black;
  height: 8vh;
  font-size: x-large;
  border-radius: 5px;
  direction: rtl;
}

a {
  color: white;
}

#user {
  direction: ltr;
}

#header {
  display: inline;
}

