<div id="body">
  <div class="nav" id="header">

    <ul class="nav" id="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['enter']" routerLinkActive="router-link-active">בית</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">כניסה</a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['graph']" routerLinkActive="router-link-active">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sign-in']" routerLinkActive="router-link-active">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['sign-up']" routerLinkActive="router-link-active">Sign Up</a>
      </li> -->
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['draw']" routerLinkActive="router-link-active">גרף</a>
      </li>
      <div style="width: 60%;"></div>
      <li id="user">
        <div >
          <p> {{db.user2.firstName}} :שם</p>
          <p> {{db.user2.userName}} :שם משתמש</p>
        </div>
      </li>
    </ul>
    <!-- <p *ngIf="db.user!=null">{{db.user.firstName}}</p> -->
    <!-- <div id="user">
      <input id="fullName" type="button" value="fullname">
      <input id="userName" type="button" value="userName">
    </div> -->
  </div>
</div>



<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul> -->


<router-outlet></router-outlet>