
.ul {
  text-align: center;
  color: black;
}

#nav{
  background-color: dimgray;
  height: 8vh;
  font-size: x-large;
  border-radius: 5px;
  direction: rtl;
}
a{
  color: black;
}

#user{
  direction: ltr;
}
#header{
  display: inline;
}
