<div class="nav" id="header">

  <ul class="nav" id="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['home']" routerLinkActive="router-link-active">home</a>
    </li>
    <!-- <li class="nav-item">
    <a class="nav-link" [routerLink]="['graph']" routerLinkActive="router-link-active">Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['sign-in']" routerLinkActive="router-link-active">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['sign-up']" routerLinkActive="router-link-active">Sign Up</a>
  </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['draw']" routerLinkActive="router-link-active">draw</a>
    </li>
  </ul>

  <div id="user">
    <input id="fullName" type="button" value="fullname">
    <input id="userName" type="button" value="userName">
  </div>
</div>




<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul> -->


<router-outlet></router-outlet>