
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['home']" routerLinkActive="router-link-active">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['graph']" routerLinkActive="router-link-active">Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['sign-in']" routerLinkActive="router-link-active">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['sign-up']" routerLinkActive="router-link-active">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['draw']" routerLinkActive="router-link-active">draw</a>
  </li>
</ul>


<router-outlet></router-outlet>